
nav li{
display: inline;
padding:  0px 5px; 
text-decoration: none ;  
font-family: fantasy; 
font-style: oblique;  
font-size: 16px;
}
nav{
    background:black;
}
li:hover{
    background-color:YELLOW;
    outline: none;
}  
header{
    background-image: url(images/image4.jpg);
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{ 
color:rgb(210, 241, 191);
letter-spacing: 5px;
text-align: center;
font-style: italic;
font-size: 30px;
padding-top: 40px;
margin-bottom: 40px;
text-decoration: double;

}
p{
text-indent: 40px;
color:rgb(49, 223, 14);
font-size:20px;
line-height: 25px;
padding: 20px;

} 
hr{
    color: orange;
}
h3{
font-family: sans-serif;      
font-weight: bolder;    
color:rgba(240, 234, 234, 0.692);    
letter-spacing: 10px;    
 text-align: center;   
font-style: inherit;    
 font-size: 30px;   
text-decoration:underline;
}     

h4{
    color: black;
    text-decoration:none;
}
.picha{
width:100px ;    
border-color: deeppink;    
border-width: 10px;    
border-radius: 30%;    
}
button{
    padding: 5px 50px;
    border-bottom-right-radius:30px;
    border-color: rgb(248, 221, 221);
    border-top-left-radius: 30px;
    background-color: transparent;
    color: rgb(255, 251, 0);
    font-weight:bolder;
    border-style:dotted;
    margin:5px auto;
    font-style:oblique;
    font-family: cursive;
}
button:hover,button:focus{
    background-color:rgb(192, 255, 19);
    outline: none;
  }

.loca{
    width: 190px;
    height: 0px;
    position:absolute;
    color: chartreuse;
    background-color:rgb(252, 236, 9);
   
}
main{
    background-image: url(images/image25.jpg);
    height: 100%;
    width: auto;
    background-size: cover;
}

  h4{
    color:rgba(248, 247, 247, 0.548);
    background-color:rgb(120, 245, 239);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-indent: 0%;
  }
 
 footer{
    height: 150px;
    color: teal;
    background-color: rgba(250, 247, 243, 0.363);
    bottom: 0px;
    width: 100vw;
    box-sizing:border-box;

}
.footer-bottom{
    background:rgba(252, 2, 2, 0.795);
    color: rgb(255, 255, 255);
    height:30px;
    position: absolute;
    top: 80px;
    text-align: center;
    width:100vw;
}
.footer,img{
    height: 20px;
    width: auto;
    padding: 5px;
    border-color:rgb(4, 217, 255);
    border-width:1px;
    border-style:dotted;
    border-radius:50%;
}
.social{
    position:absolute;
    left: 10px;
    top: 40px;
    margin:0px 10px;
}
.baton{
    bottom: 0px;
    padding-top:5px;
    
}
