*{
    box-sizing: border-box;
}
.gallery{
    border:2px solid rgb(0, 0, 0) ;
    

    
}
.gallery img{
    width:100%;
    height:200PX;
    display: block;
    margin: auto;
} 
p{
    color: rgb(22, 253, 1);
}
.des{
    padding:2px;
    text-align:center;
    color:white ;
}
.responsive{
    padding: 6px 6px;
    float:left;
    width:25%;
}
body{
    background-color: white;
}
@media screen and (max-width:700px) {
    .responsive{
       width:25%;
       margin:6px 0 ;
    }
}
@media screen and (max-width:500px) {
    .responsive{
       width: 50%;
    }
}
.arange{
    width:100%;
    height: auto;
}
h1{
    color: rgb(104, 116, 0);
    text-decoration:underline;
}
.home{
    letter-spacing:20px;
    display: inline-block;
   color: brown;
    border-left:rgb(246, 247, 244) 10px solid; 
    padding-left: 5px;
    opacity: 0.5;
}
